body {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Manga-style font */
    background-color: #ffffff; 
    color: #000000; 
}

h1, h2, h5 {
    color: #000000; 
}

.manga-bubble {
    background-color: #f0f0f0; 
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Additional CSS styles for card layout */
.row {
    display: flex; 
    flex-wrap: wrap;
}

.manga-card {
    background-color: #ffffff; 
    border: 1px solid #000000; 
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s; 
    flex: 1;
    margin: 10px; 
    height: 350px; 
    display: flex; 
    flex-direction: column; /* Stack content vertically */
    justify-content: space-between; /* Distribute space evenly */
}

.manga-card:hover {
    transform: scale(1.05); /* Scale up on hover */
}

#experience .row {
    justify-content: center;
}


#profile-image {
    width: 150px;
    height: auto; 
}

#footer {
    background-color: #f0f0f0; /* Light gray footer */
}
